<form action="/users/update/<%=user._id%>?_method=PUT" method="POST">
    <div class="mb-3">
        <label for="fname">First Name</label>
        <input name="fname" class="form-control" placeholder="Insert your first name" type="text" value="<%=user.name.firstName%>"/>
    </div>

    <div class="mb-3">
        <label for="lname" class="form-label">Last Name</label>
        <input name="lname" class="form-control" placeholder="Insert your last name" type="text" value="<%=user.name.lastName%>"/>
    </div>

    <div class="mb-3">
        <label for="DoB">Date of Birth</label>
        <input name="DoB" class="form-control" placeholder="Insert a Date" type="date" value="<%=user.DoB.toISOString().slice(0, 10)%>"/>
    </div>

    <div class="mb-3">
        <label class="gender-lable" for="gender">Gender </label>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="gender" value="false">
            <label class="form-check-label" for="gender">Male</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="gender" value="true">
            <label class="form-check-label" for="gender">Female</label>
          </div>
    </div>

    <div class="mb-3">
        <label for="email">Email</label>
        <input name="email" class="form-control" placeholder="Insert an Email" type="email" value="<%=user.email%>"/>
    </div>

    <button type="submit" class="btn btn-dark">Update</button>
</form>